.header {
    background-color: #1a7212;
    padding-top: 15px;
    padding-left: 20px;
    height: 100px;
    
}

body {
    background-color: rgb(214, 213, 213);
}
.box {
    background-color: white;
    padding-bottom: 10px;
}
.Login {
    text-align: center;
    margin-top: 12%;
}
.log {
    text-align: left;
    
}

.background{
    background-repeat: no-repeat;
    background-image: url(./Images/image1.png);
    position: absolute;
    width: 100%;
    height: 89%;
    background-position: center;
    background-size: 70%;

}

.FormContainer{
    width: 80%;
    float: left;
    margin-left: 5.5%;
    align-items: center;
}

.paper{
    background-color: white;
    padding-bottom: 10px;
    opacity: 95%;

}

.Rpaper{
    background-color: white;
    padding-bottom: 10px;
    width: 100%;

}

.SignupPaper{
    background-color: white;
    padding-bottom: 10px;
    opacity: 95%

}

.SignUp {
    text-align: center;
    vertical-align: center;
    width: 100%;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50px;
    
}

.appcontainer{
    margin-bottom: 10px;
    align-items: center;
}


.expandbutton{
    float:right;
}
.container {
    width: 80%;
    float: left;
    margin-left: 5.5%;
    align-items: center;
}
.Rescontainer{
    width: 80%;
    position: absolute;
    margin-left: 255px;
}

.link {
    float: right;
    margin-left: 10px;
}

.loginbotton {
    margin-top: 10px;
    margin-bottom: 10px;

}

.Lbotton{
    float: left;
}

.Sbotton{
    float: left;
    
}

.box2{
    width: 100%;
    align-items: center;
    margin: -25px 0 0 -25px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-items: center;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .dropdown{
    width: 80%;
    float: left;
    margin-left: 5.5%;
    align-items: center;
  }
  
  .deletepost{
      margin-bottom: 10px;
      align-self: center;
  }
  
  