
.SignUp {
    vertical-align: center;
    width: 100%;
    align-items: center;
    text-align: center;
}
.container {
    width: 80%;
    float: left;
    margin-left: 5.5%;
    align-items: center;
}
.box {
    width: 100%;
    align-items: center;
}

.wrapper{
    margin-top: 20px;
    background-color: rgb(226, 235, 235);

  }
  
:root{
    max-width: 345;
}

#appbar{
    background-color: rgb(17, 158, 17);
}
.link {
    float: right;
    margin-left: 10px;
}
.box1 {
    margin-top: 10px;
    margin-right: 8%;
}
